<!DOCTYPE html>
<html lang="en">
    <style>
        @import url(../css/login.css);
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find EmailID</title>
</head>
<body>
    <div id="content">
        <img class="logo" alt="logo" src="images/logo.png">
        <div id="idpwText"><p class="idpwText">Find EmailID</p></div>
        <form>
            <input type="text" name="phonenumber" class="login_input_text" placeholder="Phone Number"><br>
            <input type="text" name="username" class="login_input_text" placeholder="Name"><br>
            <input type="submit" class="login_input_btn" value="Find ID">
        </form>
      
        <p id="copyright">Copyright © JihyeHong, MinwooKim, YejunKim, YongsuSon All Rights Reserved.</p>
    </div>
</body>
</html>