<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actimate</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            min-height: 100vh;
            background-color: #fff;
        }
        .input-form {
            max-width: 680px;
            margin-top: 80px;
            padding: 32px;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
        .thumbnail{
            margin: 20px;
            width: 150px;
            height: 150px;
            border-radius: 20%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form class="validation-form" th:action="@{/signup}" method="post" enctype="multipart/form-data">
                <a th:href="@{/home}"><img class="logo" alt="logo" src="../images/logo.png" style="width: 100px; height: 50px;margin-left: 39%"></a>

                <div class="row">
                    <div class="col-md-6 mb-3">
<!--                        <label for="email">이메일</label>-->
<!--                        -->
<!--                        <input type="email" name="email" class="form-control" id="email" placeholder="아이디로 사용할 이메일입니다." required>-->
<!--                        <div class="invalid-feedback">-->
<!--                            이메일을 입력해주세요.-->
<!--                        </div>-->

                            <div class="form-group">
                                <label for="email">이메일</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="ID"  >
                                <div class="check_font" id="id_check"></div>
                                <button type="button"  onclick="emailChecking()" id="data" class="btn btn-outline-primary" style="margin-top: 20px;">중복검사</button>
                            </div>

                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="nickname">패스워드</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요" value="" required minlength="4" maxlength="20">
                        <div class="invalid-feedback">

                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="name">이름</label>
                    <input type="text" name="name"  class="form-control" id="name" placeholder="이름을 입력해주세요" value="" required>
                    <div class="invalid-feedback">
                        이름을 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="name"> 닉네임</label>
                    <input type="text" name="nickName"  class="form-control" id="nickname" placeholder="이름을 입력해주세요" value="" required>
                    <div class="invalid-feedback">
                        별명을 입력하세요!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="name"> 전화번호</label>
                    <input type="text" name="phone"  class="form-control" id="phone" placeholder="전화번호를 입력하세요" value="">
                    <div class="invalid-feedback">
                        전화번호를 입력하세요
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">주소</label>
                    <input type="text" class="form-control" id="address" name="addr" placeholder="서울특별시 강남구" required>
                    <div class="invalid-feedback">
                        주소를 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
                    <input type="text" class="form-control" id="address2" name="detailAddr" placeholder="상세주소를 입력해주세요.">
                </div>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="gender" style="display: block;">성별</label>
                        <label><input type="radio" name="gender" value="남자"> 남자</label>
                        <label><input type="radio" name="gender" value="여자"> 여자</label>
                    </div>
                </div>


                <hr>
                <div class="frame">
                    <div class="mb-3 imageContainer">
                        <label for="nickname">프로필 사진</label>
                        <div id="frame" class="frame">
                            <input name="file" type="file">
                        </div>

                    </div>

                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div class="mb-4"></div>
                <button onclick="check()" class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; Copyright © JihyeHong, MinwooKim, YejunKim, YongsuSon All Rights Reserved.</p>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">

    var url = /*[[@{/signup}]]*/;
    var fullPath = window.location.host + url

    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');
        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);



    window.addEventListener('load', function() {

        const container = document.querySelector('.imageContainer');
        const frame = container.querySelector('.frame');
        const fileInput = container.querySelector('input[type="file"]');

        fileInput.addEventListener('input', () => {

            if(!isImage(fileInput.files[0])) {
                alert('Image 파일만 업로드 할 수 있습니다.');
                return;
            }

            const reader = new FileReader();

            reader.addEventListener('load', () => {

                // 기존 미리보기 이미지 제거
                const existingThumbnail = frame.querySelector('.thumbnail');
                if (existingThumbnail) {
                    existingThumbnail.remove();
                }

                const img = document.createElement('IMG');
                img.classList.add('thumbnail');
                img.src = reader.result;

                frame.insertAdjacentElement('beforeend', img);
            });

            reader.readAsDataURL(fileInput.files[0]);
        });

        function isImage(file){
            return file.type.indexOf('image') >= 0;
        }
    });



//     아이디 중복 체크





    // 아이디 유효성 검사

    var email = {"email":$('#email').val()};



    let isEmailCheck = false;
    function emailChecking(){

        // 이메일 유효성 검사
        if($("#email").val() == ''){
            $("#id_check").html( '<h6 style="color: red"> 이메일을 입력해주세요</h6>' );
            $("#email").focus();
            return false;

        }
        let getYouEmail =  RegExp(/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([\-.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i);

        if(!getYouEmail.test($("#email").val())){
            $("#id_check").html( '<h6 style="color: red"> 이메일 형식에 맞게 작성해주세요!</h6>' );
            $("#email").val('');
            $("#email").focus();
            return false;
        }


        if(email == null || email == ''){
            $("#id_check").text("* 이메일을 입력해주세요")
            return false;

        }else {
            $.ajax({
                type : "POST",
                url : "/emailCheck",
                data : email,
                success : function(data){
                    if(data === 0){
                        $("#id_check").html( '<h6 style="color: dodgerblue">사용 가능한 이메일 입니다!</h6>' );
                        isEmailCheck = true
                    } else {
                        $("#id_check").html( '<h6 style="color: red">이미 존재하는 이메일 입니다</h6>' );

                    }
                },

                error : function(request){
                    console.log("request" + request);

                }
            })
        }
    }


    function check(){
        if( isEmailCheck === false){
            alert(" 중복 체크를 먼저 해주세요!")
            return false

        }
    }

</script>
</body>
</html>