<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<body>
<th:block th:fragment="jsFragment">
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/click-scroll.js}"></script>
<script th:src="@{js/jquery.backstretch.min.js}"></script>
<script th:src="@{js/owl.carousel.min.js}"></script>
<script th:src="@{js/custom.js}"></script>
</th:block>
</body>

</html>