<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main th:fragment="chatFragment">

    <header class="site-header d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <h1 class="text-white">채팅</h1>
                </div>

            </div>
        </div>
    </header>


    <div class='chatContainer'>
        <div id='sidenav' class='sidenav'>
            <div class="profileimg1"></div>
            <button class='navbtn'><i class="fa-solid fa-house"></i></button>
            <button class='navbtn'><i class="fa-solid fa-bell"></i></button>
            <button class='navbtn'><i class="fa-solid fa-comment"></i></button>
            <button class='navbtn'><i class="fa-solid fa-location-dot"></i></button>
            <button class='navbtn'><i class="fa-solid fa-gear"></i></button>
        </div>
        <div class='searchbox'>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" id='search' class='search' value="search"></input>
        </div>
        <div class='chatroomlist'>
            <div class="chatTitle">Chatlist</div>
            <div class = "group-wrapper">
                <div class="group">
                    <img class="profileimg3" src="../images/cat.jpg"></img>
                    <span class="groupInfo">Mary</span>
                    <span class="notRead">3</span>
                    <span class="lastmsg">hi!! Do you like running?</span>
                    <span class="chatTime">Today, 1.52pm</span>
                </div></div>
        </div>
        <div class='chatMember'>
            <div class="chatTitle">Members</div>
            <div class="member">
                <img class="profileimg3" src="../images/dog.jpg"></img>
                <span class="memberInfo">Mary</span>
            </div>
        </div>
        <div class='chatting'>
            <div class="chatheader">
                <img class="profileimg2" src="../images/dog.jpg"></img>
                <span class="chatroomname">Mary</span>
                <span class="chatInfo">Online - Last seen, 2.02pm</span>
                <button class='chatBtn'><i class="fa-solid fa-ellipsis-vertical"></i></button>
            </div>
            <div class = 'chatinputcontainer'>
                <div class='chatinput'>
                    <!-- <i class="fa-solid fa-paperclip fa-rotate-180"></i>
                    <i class="fa-regular fa-face-smile"></i> -->
                    <!--  -->
                </div>
                <button class='chatbtn'><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>



    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#36363e" fill-opacity="1" d="M0,96L40,117.3C80,139,160,181,240,186.7C320,192,400,160,480,149.3C560,139,640,149,720,176C800,203,880,245,960,250.7C1040,256,1120,224,1200,229.3C1280,235,1360,277,1400,298.7L1440,320L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
</main>


</body>
</html>