<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main th:fragment="chatFragment">
    <div class="row"  style="margin-left: 150px ">
        <div  class="col-md-3" style="margin-top: 50px;">
            <th:block th:replace="/../fragment/chatSidebar :: chatSidebarFragment"></th:block>
        </div>
        <div class="col-md-8" style="margin-top: 80px;">
            <div class="chat_wrap" >
                <div class="header" style="font-family: 'Cafe24Ssurround'">
                    채팅
                </div>
                <div class="chat">
                    <ul>
<!--                        <li class="left"><span>김예준</span>안녕안녕</li>-->
<!--                        <li class="right"><span>김민우</span>hihi</li>-->
                        <!-- 동적 생성 -->
                    </ul>
                </div>
                <div class="input-div">
                    <textarea placeholder="Press Enter for send message."></textarea>
                </div>

                <!-- format -->

                <div class="chat format">
                    <ul>
                        <li>
                            <div class="sender">
                                <span></span>
                            </div>
                            <div class="message">
                                <span></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script>
        const Chat = (function(){
            const myName = "blue";

            // init 함수
            function init() {
                // enter 키 이벤트
                $(document).on('keydown', 'div.input-div textarea', function(e){
                    if(e.keyCode == 13 && !e.shiftKey) {
                        e.preventDefault();
                        const message = $(this).val();

                        // 메시지 전송
                        sendMessage(message);
                        // 입력창 clear
                        clearTextarea();
                    }
                });
            }

            // 메세지 태그 생성
            function createMessageTag(LR_className, senderName, message) {
                // 형식 가져오기
                let chatLi = $('div.chat.format ul li').clone();

                // 값 채우기
                chatLi.addClass(LR_className);
                chatLi.find('.sender span').text(senderName);
                chatLi.find('.message span').text(message);

                return chatLi;
            }

            // 메세지 태그 append
            function appendMessageTag(LR_className, senderName, message) {
                const chatLi = createMessageTag(LR_className, senderName, message);

                $('div.chat:not(.format) ul').append(chatLi);

                // 스크롤바 아래 고정
                $('div.chat').scrollTop($('div.chat').prop('scrollHeight'));
            }

            // 메세지 전송
            function sendMessage(message) {
                // 서버에 전송하는 코드로 후에 대체
                const data = {
                    "senderName"    : "blue",
                    "message"        : message
                };

                // 통신하는 기능이 없으므로 여기서 receive
                resive(data);
            }

            // 메세지 입력박스 내용 지우기
            function clearTextarea() {
                $('div.input-div textarea').val('');
            }

            // 메세지 수신
            function resive(data) {
                const LR = (data.senderName != myName)? "left" : "right";
                appendMessageTag("right", data.senderName, data.message);
            }

            return {
                'init': init
            };
        })();

        $(function(){
            Chat.init();
        });
    </script>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#36363e" fill-opacity="1" d="M0,96L40,117.3C80,139,160,181,240,186.7C320,192,400,160,480,149.3C560,139,640,149,720,176C800,203,880,245,960,250.7C1040,256,1120,224,1200,229.3C1280,235,1360,277,1400,298.7L1440,320L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
</main>


</body>
</html>