<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main th:fragment="detailFragment">

    <header class="site-header d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <h1 class="text-white">게시판</h1>
                </div>

            </div>
        </div>
    </header>

    <div id="sri_section" class="">
        <div id="sri_wrap">
            <div id="content">
                <div class="company_honest_qna">
                    <input type="hidden" name="qna_action" value="sub" id="qna_action">
                    <input type="hidden" name="keyword" value id="keyword">
                    <input type="hidden" name="qna_searchType" value="hashtag" id="qna_searchType">
                    <input type="hidden" name="csn" value id="csn">
                    <input type="hidden" name="influencer" value id="influencer">
                    <input type="hidden" name="type" value id="type">
                    <div class="contents_container">
                        <div class="sub_top_wrap tag_list">
                            <span class="sub_title_tag">
                                <strong class="stit">게시글 전체</strong>
                                방
                            </span>
                            <div class="sub_title_desc">
                                현재까지 등록된 전체 게시글입니다.
                            </div>
                        </div>
                        <div class="wrap_community_topic navigation">
                            <div class="bx-wrapper">

                            </div>
                        </div>
                        <div class="search_form">
                            <div class="list_num_tit">전체
                                <strong ><th:block th:value="${#lists.size(boardList)}"/> </strong>
                                건
                            </div>
                        </div>
                        <div class="qna_list_wrap">
                            <div class="qna_list_sort">
                                <div class="InpBox">
                                    <select name="category" title="활동 전체">
                                        <option th:each="category:${categories}" th:value="${category}"
                                                th:text="${category.title}"/>
                                    </select>
                                </div>
                                <div class="InpBox Line filter">
                                    <span class="Chk">
                                        <input type="checkbox" id="popular" class="btn_sort" value="popular">
                                        <label class="Lbl" for="popular">인기순
                                        </label>
                                    </span>
                                    <span class="Chk">
                                        <input type="checkbox" id="reg_dt" class="btn_sort" value="reg_dt" checked>
                                        <label class="Lbl" for="reg_dt">최신순
                                        </label>
                                    </span>
                                    <span class="Chk">
                                        <input type="checkbox" id="maxLike" class="btn_sort" value="maxLike" checked>
                                        <label class="Lbl" for="maxLike">공감 많은 순
                                        </label>
                                    </span>
                                </div>
                                <a th:href="@{/boardWrite}" style="float: right; white-space: nowrap;">게시글 작성
                                </a>
                            </div>
                            <ul class="qna_list" id="qst_and_ans_list">

                                <hr/>
                                <li th:each="board:${boardList }" th:height="150px">
                                    <div class="qna_subject_wrap">
                                        <a th:href="@{/boardRead(boardId=${board.boardId})}" class="qna_subject"><span
                                                th:text="${board.title}"></span></a>
                                    </div>
                                    <span class="qna_desc" th:utext="${board.content}"></span>
                                    <span class="qna_like">
                                        <img src="../images/heart_icon-icons.com_48290.png" style="width:20px;">
                                        공감하기
                                    </span>
                                    <span class="qna_reply">
                                        <img src="../images/pngwing.com.png" style="width: 20px; height:20px;">
                                        댓글
                                        <strong>TODO</strong>
                                    </span>
                                    <span class="qna_views">
                                        <img src="../images/clipart870923.png" style="width: 15px; height:15px;">
                                        조회수
                                        <strong>TODO</strong>
                                    </span>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#36363e" fill-opacity="1"
              d="M0,96L40,117.3C80,139,160,181,240,186.7C320,192,400,160,480,149.3C560,139,640,149,720,176C800,203,880,245,960,250.7C1040,256,1120,224,1200,229.3C1280,235,1360,277,1400,298.7L1440,320L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
    </svg>
</main>


</body>
</html>