<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>calendar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
<main th:fragment="matchingStatusFragment">
    <div class="row" style="margin-left: 150px ">
        <div  class="col-sm-3" style="margin-top: 50px;">
            <th:block th:replace="/../fragment/sidebar :: sidebarFragment"></th:block>
        </div>
        <div class="card-container col-md-6" style="margin-top: 100px;">
            <div class="card" th:each="mat : ${matchingList}">
                <img class="thumbnail" src="../images/logo.png" alt="썸네일 이미지">
                <div class="card-content">
                    <h2 th:text="${mat.matchingName}"></h2>
<!--                    <input th:value="${mat.matchingName}" name="matchingName"></input>-->

                    <p th:text="${mat.content}"></p>
                    <div class="read-more">
                        <p th:text="${mat.category}" style="font-size: 16px"></p>

                        <a type="button" class="btn btn-outline-primary" th:href="@{/matchingApplyList/{matchingId}(matchingId=${mat.matchingId})}">보기</a>
                    </div>
                </div>
            </div>
        </div>
</main>
</body>
</html>