<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<main th:fragment="" class="container">
    <div class="page-header" style="margin-top: 100px;">
        <h1 th:text="${board.title}"></h1>
    </div>
    <div class="starter-template">
<!--        <form class="form-horizontal" action="" method="" id="postForm">-->
            <div class="form-group">
                <div class="InpBox" style="margin-top: 30px; margin-left: -32px; margin-bottom: 10px;">
                    <select name="option_select_category" title="활동 전체">
                        <option value>활동 전체</option>
                        <option value>산책</option>
                        <option value>러닝</option>
                        <option value>등산</option>
                        <option value>축구</option>
                        <option value>농구</option>
                        <option value>풋살</option>
                        <option value>배드민턴</option>
                        <option value>헬스</option>
                        <option value>잡담</option>
                    </select>
                </div>

                <div class="col-sm-10" style="margin-top: 10px;">
                    <h4 name="title" th:text="${board.title}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <p name="content" th:utext="${board.content}"></p>
                </div>
            </div>

            <div class="btn_wrap text-center flex-column" style="margin-bottom: 130px;" >
                <a th:href="@{/detail}" class="btn btn-outline-dark">목록 가기</a>
                <a th:href="@{/board(boardId=${board.boardId})}" class="btn btn-outline-primary">게시글 수정</a>
                <form th:action="@{/board/{boardId}(boardId=${board.boardId})}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-danger">게시글 삭제</button>
                </form>
            </div>
<!--        </form>-->
    </div>
</main>

<main th:fragment="readFragment">
    <link rel="stylesheet" type="text/css" href="../css/individualBoard.css">
    <div id="content_wrap">
        <div id="content">
            <div class="company_honest_qna">
                <div class="contents_container">
                    <div class="view_wrap">
                        <div class="post_top">
                            <h1 class="qna_subject" style="margin-bottom: 10px;" th:text="${board.title}"></h1>
                            <!--신고버튼-->
                            <div class="post_btns">
                                <button type="button" class="SizeXS" onclick="window.login()" style="float: right">신고</button>
                            </div>
                        </div>

                        <!--게시글 정보-->
                        <div class="post_infos">
                            <div class="post_profile">
                                <div class="profile_pic" onmousedown="">
                                    <a href="#" target="_blank">
                                        <div class="profile_pic profile1">
                                            <svg>
                                                <use xlink:href="#"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                    <span class="nickname" th:text="${board.member.name}"></span>
                                <span class="post_date" th:text="${#dates.format(board.createdAt,'yyyy-MM-dd')}">x일 전</span>
                            </div>
                            <!--게시글 내용-->
                            <div class="post_cont">
                                <span class="post_at_theme"></span>
                                <div id="board_content" th:utext="${board.content}">

                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments">
                        <div th:each= "comment : ${comments}" class="div" style=" width: 963px; height: 90px; margin-top: 10px">
                            <div  class="card-content">
                                <h5 th:text="${comment.commentWriter}" style="font-weight: bold;"></h5>
                                <p th:text="${comment.commentContents}">이것은 세 번째 카드의 내용입니다. 내용이 조금 더 길어질 때 어떻게 나타나는지 확인합니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment_input">
                        <textarea id="data" class="scrollbar" placeholder= "여러분이 남긴 댓글은 자신을 나타냅니다."></textarea>
                    </div>

                    <button type="button" class="comment_summit" onclick="doAction()">댓글 등록</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:inline="javascript">

        function doAction(){
            var commentContents = $("#data").val();
            const memberId = /*[[${#authentication.principal.member.memberId}]]*/
            const commentWriter = /*[[${#authentication.principal.member.name}]]*/

            const boardId = /*[[${boardId}]]*/
            console.log(boardId);

            console.log(memberId)
            console.log(commentContents)
            console.log(window.location.host +"/boradRead/"+boardId)



            $.ajax({
                url: "/comment/write"
                , method: 'POST'
                , data:  { "commentWriter" : commentWriter , "commentContents" : commentContents, "memberId" : memberId, "boardId" : boardId }
                , success: function (data) {
                    $("#data").val('');
                    location.href= window.location.host +"/boradRead/"+boardId
                //-----------
                    var newComment = `
            <div class="div" style="width: 963px; height: 90px; margin-top: 10px">
                <div class="card-content">
                    <h5 style="font-weight: bold;">${data.commentWriter}</h5>
                    <p>${data.commentContents}</p>
                </div>
            </div>
        `;
                    $(".comments").append(newComment);
                },
                error : function(request){
                    console.log("request" + request);
                }


            })

        }
    </script>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#36363e" fill-opacity="1" d="M0,96L40,117.3C80,139,160,181,240,186.7C320,192,400,160,480,149.3C560,139,640,149,720,176C800,203,880,245,960,250.7C1040,256,1120,224,1200,229.3C1280,235,1360,277,1400,298.7L1440,320L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
</main>

</body>
</html>