<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<main th:fragment="updateFragment" class="container">
    <div class="page-header" style="margin-top: 100px;">
        <h1>게시글 수정</h1>
    </div>
    <div class="starter-template">
        <form class="form-horizontal" method="post" action="/board" id="postForm">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <div class="InpBox" style="margin-top: 30px; margin-left: -32px; margin-bottom: 10px;">
                    <select name="option_select_category" title="활동 전체">
                        <option value>활동 전체</option>
                        <option value>산책</option>
                        <option value>러닝</option>
                        <option value>등산</option>
                        <option value>축구</option>
                        <option value>농구</option>
                        <option value>풋살</option>
                        <option value>배드민턴</option>
                        <option value>헬스</option>
                        <option value>잡담</option>
                    </select>
                </div>
                <label style="float: left" for="title" class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input type="text" class="form-control" id="title" name="title" th:field="${board.title}"/>
                </div>
            </div>

            <div class="form-group">
                <label style="float: left" for="content" class="col-sm-2 control-label"></label>
                <input name="content" id = "content" type="hidden" th:text="${board.content}">
                <div class="col-sm-10">
                    <div id="editor-container" class = "editor-container" style="height: 300px;">
                    </div>
                    <input type="hidden" id="quill_html" >
                </div>
            </div>

            <div class="btn_wrap text-center" style="margin-bottom: 130px;">
                <a th:href="@{/detail}" class="btn btn-outline-dark">목록 가기</a>
                <button type="submit" class="btn btn-outline-primary" id="submitBoardBtn">수정완료</button>
                <form th:action="@{/board/delete/{boardId}(boardId=${board.id})}" method="post" >
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-danger">게시글 삭제</button>
                </form>
            </div>
        </form>
    </div>

    <script>

        var quill = new Quill('#editor-container', {
            modules: {
                toolbar: [
                    ['bold', 'italic'],
                    ['link', 'blockquote', 'image'],
                    [{ list: 'ordered' }, { list: 'bullet' }]
                ]
            },
            placeholder: '내용입력',
            theme: 'snow'
        });
        quill.on('text-change', function() {
            document.getElementById("quill_html").value = quill.root.innerHTML;
        });

        quill.setHTML = (html) => {
            document.getElementById(".ql-editor").children[0].innerHTML = html;
        };

        var content = document.getElementById("content").value;
        quill.setHTML('<b>Hello my friend</b>');
    </script>
</main>


</body>
</html>