<!DOCTYPE html>
<html lang="en">
    <style>
        @import url(../../css/login.css);
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find EmailID</title>
</head>
<body>
    <div id="content">
        <a th:href="@{/home}"><img class="logo" alt="logo" src="../../images/logo.png"></a>
        <div id="idpwText"><p class="idpwText">이메일 찾기</p></div>
        <form id="data" method="post" action="/findemail"  name="sendEmail">
            <input type="text" name="name" class="login_input_text" placeholder="Name"><br>
            <input type="text" name="phone" class="login_input_text" placeholder="phone"><br>
         <input type="submit" class="login_input_btn" value="Find ID">
        <p id="copyright">Copyright © JihyeHong, MinwooKim, YejunKim, YongsuSon All Rights Reserved.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:inline="javascript">
        // var name = $('#name').val();
        // var phone = $('#phone').val();
        //
        // var url = /*[[@{/findEmail}]]*/;
        // var fullPath = window.location.host + url
        //
        // var found = $('#data')
        //
        // var memberSearchCond = { "name" : name, "phone" : phone}
         // found[0].addEventListener("submit", function () {

             // $.ajax({
             //     type: 'post',
             //     url: fullPath,
             //     data: memberSearchCond,
             //     dataType: "text",
             //     success: function (result) {
             //         console.log("성공")
             //         if(result === "no"){
             //             // 중복되는 것이 있다면 no == 일치하는 이메일이 있다!
             //             alert('임시비밀번호를 전송 했습니다.');
             //             sendEmail.submit();
             //         }else {
             //             alert('가입되지 않은 이메일입니다.');
             //         }
             //
             //     },error: function () {
             //         console.log('에러 체크!!')
             //     }
             // })


            // })









</script>
</body>

</html>