<!DOCTYPE html>
<html lang="en">
    <style>
        @import url(../../css/login.css);
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find EmailID</title>
</head>
<body>
    <div id="content">
        <a th:href="@{/home}"><img class="logo" alt="logo" src="../../images/logo.png"></a>
        <div id="idpwText"><p class="idpwText">이메일 찾기</p></div>
        <form id="data" method="post">
            <input type="text" id="name" name="name" class="login_input_text" placeholder="name"><br>
            <input type="text" id="phone" name="phone" class="login_input_text" placeholder="Phone Number"><br>
            <input type="submit" class="login_input_btn" value="Find ID">
        </form>
        <p id="copyright">Copyright © JihyeHong, MinwooKim, YejunKim, YongsuSon All Rights Reserved.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:inline="javascript">
        var name = $('#name').val();
        var phone = $('#phone').val();

        var url = /*[[@{/findEmail}]]*/;
        var fullPath = window.location.host + url

        var found = $('#data')

         found[0].addEventListener("submit", function () {

                fetch(fullPath, {
                    // 전송 방식: default - get
                    method: "POST",
                    // 전송 헤더 설정
                    headers: {
                        // "Content-type": "application/json;charset=utf-8",     // json으로 보낼 때
                        'Content-Type': 'application/x-www-form-urlencoded' // parameter로 보낼 때
                    },
                    // 전송 객체: JSON을 문자열로 변환해서 전달
                    body: JSON.stringify({name: name, phone: phone}), // json으로 보낼 때
                    //body: "title=제목&body=내용&userId=1",                          // parameter로 보낼 때
                })
                    .then((response) => alert(response.json()))
            //   TODO/*  데이터 전송 성공 후 핸들러가 있는지? 그리고 백에서 페이지 리다이렉트 한 후 데이터를 가져오는 방법*/


            })









</script>
</body>

</html>