<!DOCTYPE html>
<html lang="en">
<meta name="referrer" content="no-referrer-when-downgrade" />
    <style>
        @import url(../../css/login.css);
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find PW</title>
</head>
<body>
    <div id="content">
        <a th:href="@{/home}"><img class="logo" alt="logo" src="../../images/logo.png"></a>
        <div id="idpwText"><p class="idpwText">비밀번호 찾기</p></div>
            <form id="data" method="post" action="/findpw"  name="sendEmail">
                <input type="text" id="email" name="email" class="login_input_text" placeholder="Email ID"><br>
                <input type="text" name="name" class="login_input_text" placeholder="Name"><br>
                <input type="text" name="phone" class="login_input_text" placeholder="phone"><br>
            <input type="submit" class="login_input_btn" value="Find ID">
        </form>


      
        <p id="copyright">Copyright © JihyeHong, MinwooKim, YejunKim, YongsuSon All Rights Reserved.</p>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script th:inline="javascript">


        var name = $('#name').val();
        var phone = $('#phone').val();
        var email = $('#email').val();

        var url = /*[[@{/findpw}]]*/;
        var fullPath = window.location.host + url

        var memberSearchCond = { "name" : name, "phone" : phone, "email" :email}
        var found = $('#data')

        found[0].addEventListener("submit", function () {

                // fetch(fullPath, {
                //     // 전송 방식: default - get
                //     method: "POST",
                //     // 전송 헤더 설정
                //     headers: {
                //         "Content-type": "application/json;charset=utf-8",     // json으로 보낼 때
                //         // 'Content-Type': 'application/x-www-form-urlencoded' // parameter로 보낼 때
                //     },
                //     // 전송 객체: JSON을 문자열로 변환해서 전달
                //     body: JSON.stringify({
                //                 "email": email,
                //                 "name":name,
                //                 "phone":phone
                //
                //     }), // json으로 보낼 때
                //     //body: "title=제목&body=내용&userId=1",                          // parameter로 보낼 때
                // })
                //     .then((response) => alert(response.json()))
                // //   TODO/*  데이터 전송 성공 후 핸들러가 있는지? 그리고 백에서 페이지 리다이렉트 한 후 데이터를 가져오는 방법*/



            $.ajax({
                type: 'post',
                url: fullPath,
                data:memberSearchCond,
                dataType: "text",
                success: function (result) {
                    alert('임시비밀번호를 전송 했습니다.');
                    if(result === "no"){
                        // 중복되는 것이 있다면 no == 일치하는 이메일이 있다!
                        alert('임시비밀번호를 전송 했습니다.');
                        sendEmail.submit();
                    }else {
                        alert('가입되지 않은 이메일입니다.');
                    }

                },error: function () {
                    console.log('에러 체크!!')
                }
            })
        });

    </script>
</body>
</html>